name: Test Vitepress

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - '.editorconfig'
      - '.gitignore'
      - '.prettierrc.yaml'
      - 'README.md'

permissions:
  contents: read

concurrency:
  group: tests
  cancel-in-progress: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: npm
      - run: |
          npm ci
          npm run format:ci
          npm run docs:build
